.instagram-icon-24 {
  background-image: url(../images/iconos/instagram-36.png);
  height: 36px;
  width: 36px;
  background-position: 0 0;
  display: inline-block;
  background-repeat: no-repeat;
}

.twitter-icon-24 {
  background-image: url(../images/iconos/twitter-36.png);
  height: 36px;
  width: 36px;
  background-position: 0 0;
  display: inline-block;
  background-repeat: no-repeat;
}

.facebook-icon-24 {
  background-image: url(../images/iconos/facebook-36.png);
  height: 36px;
  width: 36px;
  background-position: 0 0;
  display: inline-block;
  background-repeat: no-repeat;
}

.ubicacion-icon-24 {
  background-image: url(../images/iconos/location-24.png);
  height: 24px;
  width: 24px;
  background-position: 0 0;
  display: inline-block;
  background-repeat: no-repeat;
}

.telefono-icon-24 {
  background-image: url(../images/iconos/phone-24.png);
  height: 24px;
  width: 24px;
  background-position: 0 0;
  display: inline-block;
  background-repeat: no-repeat;
}

.escoba-icon-24 {
  background-image: url(../images/iconos/broom-24.png);
  height: 24px;
  width: 24px;
  background-position: 0 0;
  display: inline-block;
  background-repeat: no-repeat;
}

.phone-celeste-icon-24 {
  background-image: url(../images/iconos/ringing-phone-24.png);
  height: 24px;
  width: 24px;
  background-position: 0 0;
  display: inline-block;
  background-repeat: no-repeat;
}

.maps-celeste-icon-24 {
  background-image: url(../images/iconos/marker-24.png);
  height: 24px;
  width: 24px;
  background-position: 0 0;
  display: inline-block;
  background-repeat: no-repeat;
}

.facebook-celeste-icon-24 {
  background-image: url(../images/iconos/facebook-f-24.png);
  height: 24px;
  width: 24px;
  background-position: 0 0;
  display: inline-block;
  background-repeat: no-repeat;
}

.instagram-celeste-icon-24 {
  background-image: url(../images/iconos/instagram-24.png);
  height: 24px;
  width: 24px;
  background-position: 0 0;
  display: inline-block;
  background-repeat: no-repeat;
}

.twitter-celeste-icon-24 {
  background-image: url(../images/iconos/twitter-squared-24.png);
  height: 24px;
  width: 24px;
  background-position: 0 0;
  display: inline-block;
  background-repeat: no-repeat;
}

.telefono-icon-28 {
  background-image: url(../images/iconos/phone-28.png);
  height: 28px;
  width: 28px;
  background-position: 0 0;
  display: inline-block;
  background-repeat: no-repeat;
}

.ubicacion-icon-36 {
  background-image: url(../images/iconos/location-36.png);
  height: 36px;
  width: 36px;
  background-position: 0 0;
  display: inline-block;
  background-repeat: no-repeat;
}

.ubicacion-icon-36 {
  background-image: url(../images/iconos/location-36.png);
  height: 36px;
  width: 36px;
  background-position: 0 0;
  display: inline-block;
  background-repeat: no-repeat;
}

.telefono-icon-36 {
  background-image: url(../images/iconos/phone-36.png);
  height: 36px;
  width: 36px;
  background-position: 0 0;
  display: inline-block;
  background-repeat: no-repeat;
}

.email-icon-36 {
  background-image: url(../images/iconos/mail-36.png);
  height: 36px;
  width: 36px;
  background-position: 0 0;
  display: inline-block;
  background-repeat: no-repeat;
}

.stethoscope-icon-36 {
  background-image: url(../images/iconos/stethoscope-36.png);
  height: 36px;
  width: 36px;
  background-position: 0 0;
  display: inline-block;
  background-repeat: no-repeat;
}

.ambulancia-icon-36 {
  background-image: url(../images/iconos/ambulance-36.png);
  height: 36px;
  width: 36px;
  background-position: 0 0;
  display: inline-block;
  background-repeat: no-repeat;
}

.impresora-icon-36 {
  background-image: url(../images/iconos/print-36.png);
  height: 36px;
  width: 36px;
  background-position: 0 0;
  display: inline-block;
  background-repeat: no-repeat;
}

.home-icon-40 {
  background-image: url(../images/iconos/home-40.png);
  height: 40px;
  width: 40px;
  background-position: 0 0;
  display: inline-block;
  background-repeat: no-repeat;
}

.noticias-icon-40 {
  background-image: url(../images/iconos/news-40.png);
  height: 40px;
  width: 40px;
  background-position: 0 0;
  display: inline-block;
  background-repeat: no-repeat;
}

.profesionales-icon-40 {
  background-image: url(../images/iconos/staff-40.png);
  height: 40px;
  width: 40px;
  background-position: 0 0;
  display: inline-block;
  background-repeat: no-repeat;
}

.obras-sociales-icon-40 {
  background-image: url(../images/iconos/organ-transplantation-40.png);
  height: 40px;
  width: 40px;
  background-position: 0 0;
  display: inline-block;
  background-repeat: no-repeat;
}

.sacar-turno-icon-50 {
  background-image: url(../images/iconos/add-property-50.png);
  height: 50px;
  width: 50px;
  background-position: 0 0;
  display: inline-block;
  background-repeat: no-repeat;
}

.listado-turnos-icon-50 {
  background-image: url(../images/iconos/event-50.png);
  height: 50px;
  width: 50px;
  background-position: 0 0;
  display: inline-block;
  background-repeat: no-repeat;
}

.telefono-icon-50 {
  background-image: url(../images/iconos/phone-50.png);
  height: 50px;
  width: 50px;
  background-position: 0 0;
  display: inline-block;
  background-repeat: no-repeat;
}
