.containerLogin {
  display: grid;
  width: 100%;
  margin: 0 auto;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 80px auto 80px;
  margin: 30px 0px;

  grid-template-areas:
    "sidebar  main     main"
    "sidebar  main     main"
    "sidebar  main     main";
}

/* specific item styles */

.telefonos {
  background: #ffff;
  grid-area: main;
  position: relative;
  min-height: 60vh;
  background-color: white;
  background-size: cover;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  color: white;
  align-items: center;
  font-size: 29px;
  font-weight: bold;
}

.telefonos > * {
  z-index: 100;
}

.telefonos::after {
  content: "";
  position: absolute;
  top: 0;
  left: 45%;
  transform: skew(20deg) translateX(6%);
  width: 66%;
  height: 102%;
  background-image: linear-gradient(88deg, #00b3f2 60%, #00d5e2 60%);
  /*  background:linear-gradient(160deg, red, red 60%, white 60%, white); */
}

.telefonos::before {
  content: "";
  position: absolute;
  top: 0;
  left: 4%;
  transform: skew(20deg) translateX(5%);
  width: 43%;
  height: 102%;
  background: #06488f;
}

.telefonos article a {
  color: #ffff;
  display: flex;
  align-items: center;
}

.gridForm {
  background: #ffff;
  grid-area: sidebar;
  padding: 36px;
  border-right: 1px solid var(--principal-color2);
}

.form hr {
  border: none;
  border-bottom: 2px solid black;
  height: 0vh;
  margin: 10px 0px;
  width: 28vw;
}

.form h2 {
  color: var(--principal-color1);
}

.form label {
  display: block;
  margin: 0px;
}

.form input[type="text"] {
  min-width: 26.3vw;
  width: auto;
  height: 3vh;
  border-radius: 1px;
  background: var(--secondary-color1);
  color: #ffff;
  border: 2px solid var(--secondary-color1);
  font-weight: bold;
  outline: none;
  padding: 10px;
  margin: 20px 0px;
}

.form input[type="text"]::placeholder {
  color: #ffff;
}

.form input[type="email"] {
  min-width: 26.3vw;
  width: auto;
  height: 3vh;
  border-radius: 1px;
  background: var(--secondary-color1);
  color: #ffff;
  border: 2px solid var(--secondary-color1);
  font-weight: bold;
  outline: none;
  padding: 10px;
  margin: 20px 0px;
}

.form input[type="email"]::placeholder {
  color: #ffff;
}

.form input[type="password"] {
  min-width: 26.3vw;
  width: auto;
  height: 3vh;
  border-radius: 1px;
  background: var(--secondary-color1);
  color: var(--secondary-color1);
  border: 2px solid;
  outline: none;
  padding: 10px;
  margin: 20px 0px;
}

.form input[type="password"]::placeholder {
  color: #ffff;
}

.form input[type="submit"] {
  color: #ffff;
  width: 28vw;
  height: 3em;
  font-weight: bold;
  border-style: none;
  border-radius: 1px;
  background: var(--principal-color2);
  margin: 20px 0px;
  transition: all 1s ease;
  position: relative;
}

.form input[type="submit"]:hover {
  color: var(--principal-color2);
  background: #ffff;
  border: 2px solid var(--principal-color2);
}

.form a {
  height: 2.5em;
  width: 27.726vw;
  margin-left: 0vw;
  color: var(--background-card);
  background: var(--principal-color2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1px;
  border: 2px solid var(--principal-color2);
  font-weight: bold;
  transition: all 1s ease;
  position: relative;
}

.form a:hover {
  height: 2.5em;
  width: 27.726vw;
  margin-left: 0vw;
  color: var(--background-card);
  background: var(--principal-color2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1px;
  color: var(--principal-color2);
  background: #ffff;
  border: 2px solid var(--principal-color2);
}

/*--------------------------                     MOBILE                              ------------------------------ */
@media screen and (max-width: 768px) {
  .containerLogin {
    display: flex;
    margin: 0;
  }

  .telefonos {
    display: none;
  }

  .gridForm {
    padding: 3vh 17vw;
  }

  .form hr {
    width: 62vw;
  }

  .form input[type="submit"] {
    width: 63vw;
  }

  .form input[type="password"] {
    width: 57vw;
  }

  .form input[type="email"] {
    width: 57vw;
  }

  .form input[type="text"] {
    width: 57vw;
  }

  .form a {
    width: 61.726vw;
  }

  .form a:hover {
    width: 61.726vw;
  }
}
