.noticias {
    padding: 2em;
}
.noticias header {
    background-color: transparent;
    border-bottom: none;
    color: var(--principal-color2);
}

.noticias article {
    min-width: 20vw;
    max-width: 24vw;
   
    display: flex;
    flex-direction: column;
    background: #ececec;
}

.noticias img {
    width: 100%;
    height: 40%;
}

.noticias p {
    margin: 0.3em 0.4em;
}

.noticias a {
    margin: 2.3em 0.4em;
    color: var(--principal-color1)
}

.noticias h3 {
    margin-left: .4em;
    color: var(--principal-color1);
}

.noticias h4{
    display: none;
    
    }

.noticias .fichasNoticias {
    display: flex;
    justify-content: space-evenly;
    width: 93vw;
    flex-wrap: wrap;
    gap: 2.8em;
    padding: 2.5em 1em;
    background: white;
    border: none;
}


.paginador {
    text-align: center;
}


.paginador ul {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.paginador ul li {display: inline;}

.paginador ul li a {
   
    float: left;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 5px;
}

.paginador ul li a.active {
    background-color: var(--principal-color1);
    color: white;
    border-radius: 5px;
}



/* ----------------------      NOTICIA SOLA                        ---------------------------------- */


.noticia {
    display: flex;
    flex-direction: column;
    margin: 2em 12em;
    background: #ececec;
    padding-bottom: 3em;
}

.noticia h2 {
    margin-left: .6em;
    color: var(--principal-color1);
}

.noticia p {
    margin: 0.3em 0.8em;
} 

.noticia img {
    height: 50vh;
}



/*--------------------------                     MOBILE                              ------------------------------ */
@media screen and (max-width: 768px) {

.noticias .fichasNoticias {
    display: flex;
    justify-content: space-evenly;
    width: 93vw;
    flex-wrap: unset;
    gap: 2.8em;
    padding: 2.5em 1em;
    background: white;
    border: none;
    flex-direction: column;
}

.noticias article {
    min-width: 72vw;
    width: auto;
}

.noticias .fichasNoticias {
    width: 80vw;
    padding: 0em 3.5em;
}

.noticias {
    padding: 0em 0em;
}


.paginador ul li a {   
    padding: 0.5em 0.8em;
}

.noticia {
    margin: 2em 0em;
}


}