.profesionales {
  display: flex;
  flex-direction: column;
  margin: 1rem 2rem 1rem 2rem;
  background: rgb(255,255,255);   
}

.profesionales .buscador {
  width: 100%;
  margin-bottom: 2rem;
}


.profesionales .resultado-busqueda {

  display: flex;
    justify-content: unset;
    width: 93vw;
    flex-wrap: wrap;
    gap: 1.8em;
    padding: 0.5em 0em;
    background: white;
    border: none;

}

.card-persona {
  display: grid;
  width: 30%;
  padding: 0.5rem 0em 1rem 0.5em;
  grid-template-columns: repeat(3, 1fr);

  grid-template: 
                "img-card   nombre-card nombre-card" auto
                "datos-card datos-card  datos-card" auto 
                "boton-card boton-card  boton-card" 1em / 20% 20px 1fr;

  border-radius: 4px;
  border: 2px solid var(--principal-color1);              
                
}

.card-persona h3 {
  grid-area: nombre-card;
  margin: 13px 16px;
  color: var(--principal-color2);
}

.card-persona h4 {
  grid-area: nombre-card;
  margin: 40px 16px 1px 16px;
  color: var(--principal-color1);
}



.card-persona img {
  grid-area: img-card;
  
    border-radius: 8px;
    width: 100%;
}


.card-persona ul {
  grid-area: datos-card;
  display: flex;
  flex-direction: column;
}

.card-persona a {
  grid-area: boton-card;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 3vh;
  margin-top: 0.2em;
  border: 1px solid var(--principal-color1);
  background: #ffff;
  color: var(--principal-color1);
  font-weight: bold;
  border-radius: 1px;
  justify-content: center;
  width: 26vw;
  transition: all 1s ease;
  position: relative;

}

.card-persona a:hover {
  color: #ffff;
  background: var(--principal-color1)
}

.profesionales header {
  background-color: transparent;
    border-bottom: none;
    color: var(--principal-color2);
}

.profesionales input[type=search] {
  width: 91vw;
  height: 5vh;
  padding: 0.5em;
  border: 2px solid var(--principal-color1);
  color: var(--principal-color1);
  background: white;
  outline: none;

}

.profesionales input[type=search]::placeholder {
  color: var(--principal-color2);
  font-weight: bold;
}


/*--------------------------                     MOBILE                              ------------------------------ */

@media screen and (max-width: 768px) {

.resultado-busqueda {
    flex-direction: column;

}

.card-persona {
  width: 90%;
  padding: 0.5rem 0em 2rem 0.5em;
}

.card-persona a {
  width: 81vw;
}

.profesionales input[type=search] {
width: 86vw;
}  

}  